* {
    margin: 0;
    padding: 0;
    border: 0;
}

#menuNavegacao {
    margin-top: 55px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    min-width: 870px;
    border-radius: 0px 0px 10px 10px;    
    height: 40px;
    background-color: #016aae;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

#menuNavegacao ul {
    list-style: none;
    font-family: RobotoMedium;
    border-radius: 10px 10px 10px 10px;    
    background-color: #016aae;
    display: flex;
    float: right;
}

#menuNavegacao ul a li {
    border-radius: 10px 10px 10px 10px;    
    margin: 0px 10px;
    font-size: 1.2em;
    padding: 15px;
}

#menuNavegacao ul li.ativo {
    background-color: #035388;
    border-bottom: 2px solid rgb(80, 199, 90);
}

#menuNavegacao ul li:hover {
    transition: 0.3s all;
    background-color: #035388;
    border-bottom: 1px solid rgb(80, 199, 90);
}

#menuNavegacao ul li {
    transition: 0.4s all;
    border: 1px solid #016aae;
}

#menuNavegacao ul a {
    transition: 0.3s all;
}



.inicio {
    background: url("../imagens/home.png") no-repeat left center;
    background-size: 27px;
    text-indent: 22px;
}

.quemSomos {
    background: url("../imagens/quemSomos.png") no-repeat left center;
    background-size: 27px;
    text-indent: 22px;
}

.equipe {
    background: url("../imagens/equipe.png") no-repeat left center;
    background-size: 27px;
    text-indent: 22px;
}

.loja {
    background: url("../imagens/carrinho.png") no-repeat left center;
    background-size: 27px;
    text-indent: 22px;
}

.regras {
    background: url("../imagens/regrasIcon.png") no-repeat left center;
    background-size: 32px;
    text-indent: 22px;
}

#menuNavegacao span {
    display: inline-block;
    padding-left: 10px;
    font-size: 1.6em;
    font-family: FiraSansSemiBold;
    transition: 0.3s all;
    color: white;

}

#menuNavegacao span:hover {
    cursor: default;
    color: yellow;
    transition: 0.3s all;
}



