* {
    margin: 0;
    padding: 0;
    border: 0;
}

#principal {
    width: 80%;
    min-width: 870px;
    max-width: 1200px;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto 0px auto;
    background-color: rgb(248, 248, 248);
}



.tituloPrincipal {
    text-align: center;
    font-size: 3em;
    line-height: 120px;
    font-family: Minecrafter;
    margin-bottom: 15px;
    color: #ffffff;
    
}



.conteudo {
    margin-bottom: 80px;
}

#containerBemVindo {
    background: url("../imagens/bemvindobackground.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    padding: 60px;
    height: 120px;
    margin-bottom: 20px;
}

#containerRank {
    background: url("../imagens/rank.jpg") no-repeat center left;
    background-size: cover;
    border-radius: 15px;
    padding: 60px;
    height: 120px;
    margin-bottom: 20px;
}

.ranking {
    color: red;
}

#cartoesRankingCaixa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerCartaoRank {
    border-radius: 15px;
    margin-top: 40px;
    margin-right: 20px;
    width: 280px;
    height: 350px;
    background: url("../imagens/rankBackground.jpg");
}

.topo {
    position: relative;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    text-align: center;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.azul {
    background-color: #016aae;
}

.amarelo {
    background-color: #d1d108;
}

.roxo {
    background-color: #962cff;
}

.topo img {
    width: 40px;
    margin-right: 2px;
}

.topo span {
    margin-left: 4px;
    font-size: 1.35em;    
    font-family: FiraSansSemiBold;
    color: white;
}

.listaPlayers {
    position: relative;
    padding: 10px;
}

.listaPlayers ul {
    list-style: none;
    text-align: center;
}

.listaPlayers ul li {
    font-family: FiraSansSemiBold;
    font-size: 1.3em;
    line-height: 30px;
    background-color: rgba(247, 247, 247, 0.24);
    border-radius: 5px;
    margin: 5px 0px;
    transition: 0.3s all;

}

.listaPlayers ul li:hover {
    cursor: default;
    background-color: rgba(211, 211, 211, 0.63);
    transition: 0.3s all;
}

.listaPlayers ul li.primeiro {
    color: gold;
}

.listaPlayers ul li.primeiro:hover {
    color: white;
    background-color: gold;
}

.segundo {
    color: rgb(207, 207, 207);
}

.listaPlayers ul li.segundo:hover {
    color: white;
    background-color: rgb(207, 207, 207);
}

.terceiro {
    color: rgba(255, 152, 56, 0.938);
}

.listaPlayers ul li.terceiro:hover {
    color: white;
    background-color: rgba(255, 152, 56, 0.938);
}

.divisoria {
    background-color: rgba(167, 167, 167, 0.199);
    margin-top: -40px;
    margin-bottom: 40px;
    padding: 1px;
}

#containerRegras {
    background: url("../imagens/regras.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    padding: 60px;
    height: 120px;
    margin-bottom: 20px;
}

#containerRegras .tituloPrincipal {
    color: #3952e2;
    margin-bottom: 15px;
}

#containerBookRegras {
    margin: 0 auto;
    background: url("../imagens/book.png") no-repeat center center;
    background-size: contain    ;
    height: 450px;
    width: 80%;
    border: 1px solid red;
}

.escrituraRegras p {
    width: 700px;
    margin: 0 auto;
}

.containerPremios {
    margin-top: 80px;
}

#containerPremios {
    background: url("../imagens/premios.png") no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    padding: 60px;
    height: 120px;
    margin-bottom: 20px;
}



#containerPremios .corTituloPrincipal {
    color: yellow;
}












.posicao1 {
    background: url("../imagens/1.png") no-repeat left center;
    background-size: contain;
}
.posicao2 {
    background: url("../imagens/2.png") no-repeat left center;
    background-size: contain;
}
.posicao3 {
    background: url("../imagens/3.png") no-repeat left center;
    background-size: contain;
}
.posicao4 {
    background: url("../imagens/4.png") no-repeat left center;
    background-size: contain;
}
.posicao5 {
    background: url("../imagens/5.png") no-repeat left center;
    background-size: contain;
}
.posicao6 {
    background: url("../imagens/6.png") no-repeat left center;
    background-size: contain;
}
.posicao7 {
    background: url("../imagens/7.png") no-repeat left center;
    background-size: contain;
}
.posicao8 {
    background: url("../imagens/8.png") no-repeat left center;
    background-size: contain;
}



.obrigado {
    font-size: 1.2em;
    color: #016aae;
    font-weight: bold;
}
