footer {
    margin-top: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url("../imagens/footerback.png") no-repeat center center;
    padding: 80px;
}

footer .conteudoRodape img {
    width: 80px;
    margin-bottom: 8px;
}

footer .conteudoRodape p {
    color: white;
    font-family: FiraSansRegular;
}