#containerLoja {
    background: url("../../imagens/lojaBackground.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    padding: 60px;
    height: 120px;
    margin-bottom: 20px;
}
#principalLoja {
    width: 98%;
    min-width: 870px;
    max-width: 1200px;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto 0px auto;
    background-color: rgb(248, 248, 248);
}

#conteudo {
    margin: 0 auto;
}

#displayContainerLoja {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ladoEsquerdo {
    background: url("../../imagens/ladoesquerdobrackground.jpg") no-repeat center center;
    width: 55%;
    height: 780px;
    align-items: center;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 42%) 1px 4px 16px 4px
}

.ladoEsquerdo h1.tituloLadoEsquerdo {
    color: white;
    margin-bottom: 15px;
}

.produtos h1.tituloLadoEsquerdo {
    color: white;
    margin-bottom: 15px;
    font-size: 2.4em;
    margin-bottom: 25px;
}

.ladoEsquerdo h2 {
    font-weight: normal;
    font-size: 25px;
    color: black;
    background-color: yellow;
    padding: 5px;
    border-radius: 10px;
}

.ladoDireito h2#valor {
    background-color: #2ECC71;
    width: 40%;
    line-height: 60px;
    border-radius: 20px;
    font-family: FiraSansSemiBold;
    text-align: center;
    margin: 0px auto 0px auto;    
    font-size: 1.6em;
}

.ladoEsquerdo #descricaoProduto {
    margin-top: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: 1.1em;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}

.beneficio {
    color: black;
    width: 100%;
    cursor: default;
    transition: 0.3s all;
    font-size: 100%;
    align-items: center;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    margin: 2px;
}

.beneficio:hover {
    cursor: default;
    background-color: rgb(113, 164, 199);
    transition: 0.3s all;
}

.beneficioMensal {
    color: black;
    background-color: rgb(206, 206, 206);
    width: 100%;
    height: 14%;
    font-size: 0.888em;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    cursor: default;
    align-items: center;
    transition: 0.3s all;
}

.beneficioMensal:hover {
    cursor: default;
    background-color: rgb(113, 164, 199);
    transition: 0.3s all;
}

.caixasMensal {
    display: flex;
    justify-content: center;
    transition: 0.3s all;
    position: relative;
    min-width: 480px;
}

.caixaComandos {
    display: flex;
    justify-content: center;
    transition: 0.3s all;
    min-width: 480px;
    height: 200px;
}



.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9 {
    height: 9%;
    position: relative;
}

.coluna {
    margin: 0px 4px 0px 4px;
}

.containerBeneficios {
    padding: 4px;
    width: 30%;
    margin: 0px 5px;
    transition: 0.3s all;
    align-items: center;
    justify-content: center;

    box-shadow: 4px 4px 20px 0px rgb(0 0 0 / 30%);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.863);
}

.containerBeneficiosMensal {
    padding: 4px;
    width: 100%;
    height: 160px;
    transition: 0.3s all;
    margin: -8px auto 10px auto;
    align-items: center;
    justify-content: center;

    box-shadow: 4px 4px 20px 0px rgb(0 0 0 / 30%);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.863);
}

.containerComandos {
    padding: 4px;
    width: 100%;
    height: 240px;
    transition: 0.3s all;
    margin: 6px auto 10px auto;
    align-items: center;
    justify-content: center;

    box-shadow: 4px 4px 20px 0px rgb(0 0 0 / 30%);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.863);
}

.displayFlexBeneficios {
    display: flex;
    justify-content: center;
    transition: 0.3s all;
    margin-bottom: 20px;
}

.content {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#botaoComprar {
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(62, 125, 206);
    transition: 0.3s all;
    
}

#botaoComprar:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s all;
    cursor: pointer;
}

#botaoComprar:before {
    background: url(images/comment-author.gif) no-repeat scroll 7px 7px;
    padding-left:30px;
}

.ladoDireito {
    /*background-color: rgb(231, 230, 230);*/
    background: rgb(169, 206, 255) url("../../imagens/backgroundClouds.png") no-repeat center center;
    width: 45%;
    height: 800px;
    align-items: center;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    justify-content: center;
    box-shadow: 4px 4px 20px 0px rgb(0 0 0 / 30%)
}

.containerProdutosAvulsos {
    /*background-color: rgb(231, 230, 230);*/
    background: rgb(169, 206, 255) url("../../imagens/backgroundClouds.png") no-repeat center center;
    width: 70%;
    height: 900px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 4px 4px 20px 0px rgb(0 0 0 / 30%)
}

.produtos {
    margin-top: 50px;
}

.fileiraProdutos {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.produto {
    width: 140px;
    height: 130px;
    background-color: rgb(82, 143, 255);
    border-radius: 15px;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    transition: 0.3s all;

}

.produto:hover {
    cursor: pointer;
    background-color: rgb(55, 125, 255);
    transition: 0.2s all;

}

.produto h2 {
    color: black;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 3px;
    font-size: 18px;
}

.areaCompra {
    background-color: rgba(128, 128, 128, 0.322);
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    border: 1px solid #007a33ab;
}

.marromVip {
    color: rgb(206, 107, 14);
    font-weight: bolder;
}

.amareloVip {
    color: rgb(173, 173, 3);

}

.verdeVip {
    color: rgb(10, 199, 10);
    font-weight: bolder;
}


.produto .imgProduto {
    width: 110px;
}

.button {
    margin-top: 10px;
    position: relative;
    width: 209px;
    height: 65px;
    font-size: 20px;
    background-color: rgb(62, 125, 206);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: width .4s,
    border-radius .5s,
    all 0.3s;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s all;
    cursor: pointer;
}

.button *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    transition: opacity .25s;
}

.icon {
    opacity: 0;
    
}

.button:focus{
    width: 65px;
    background-color: #2ECC71;
    border-radius: 100%;
}

.button:focus .textoComprar {
    opacity: 0;
}

.button:focus .icon {
    opacity: 1;
    transition-delay: .5s;
}

.invisivel{
    position: absolute;
    color: transparent;
    font-size: 0;
}

